<html>
<head>
    <title>Madlibs</title>
    <link rel="stylesheet" href="/static/madlibs.css">
</head>
<body>
    <form action="/madlib">
        A Person: <input type="text" name="person" required>
        <br>A Color: <select name="color">
            <option value="orange">Orange</option>
            <option value="purple">Purple</option>
            <option value="brown">Brown</option>
            <option value="red">Red</option>
        </select>
        <br>A Noun: <input type="text" name="noun" required>
        <br>An Adjective: 
            <input type="checkbox" name="adj" value="buttery">Buttery
            <input type="checkbox" name="adj" value="sparkly">Sparkly
            <input type="checkbox" name="adj" value="tasty">Tasty
            <input type="checkbox" name="adj" value="slimy">Slimy
            <input type="checkbox" name="adj" value="oily">Oily
            <input type="checkbox" name="adj" value="friendly">Friendly
            <input type="checkbox" name="adj" value="lumpy">Lumpy
        <input type="submit">
    </form>
</body>
</html>